<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
	<a class="navbar-brand" href="#">Market Watcher</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="dashboard"><i class="fas fa-chart-line"></i> Dashboard<span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="symbols"> Symbols<span class="sr-only">(current)</span></a>
		  </li>
	  </ul>
	</div>
  </nav>
