<table border="1" cellpadding="0" cellspacing="0" style="width:70%;float:left" >
	<thead>
		<th>Symbol</th>
		<th>Description</th>
		<th>Currency</th>
		<th>Stock Exchange</th>
	</thead>
	<tr *ngFor="let symbols of arraySymbols">
		<td> {{ symbols.symbol }}</td>
		<td>{{ symbols.description }}</td>
		<td>{{ symbols.currency }}</td>
		<td>{{ symbols.stockExchange }}</td>
	</tr>
</table>

<!-- <h1>teststtt</h1>
<li *ngFor="let s of arraySymbols">
	{{ s.id }}
	{{ s.symbol }}
</li> -->
<!-- <p *ngIf="arraySymbols.length < 1 && !isFetching">No posts available!</p>
	<ul class="list-group" *ngIf="arrSymbols.length >= 1 && !isFetching">
		<li class="list-group-item" *ngFor="let post of arraySymbols">
			<h3>{{ post.symbol }}</h3>
			<p>{{ post.description }}</p>
		</li>
	</ul>
	<p *ngIf="isFetching">Loading...</p>
	 -->
<!-- <section *ngIf="arraySymbols | async as employee">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>id</th>
				<td>{{ employee.id }}</td>
			</tr>
			<tr>
				<th>username</th>
				<td>{{ employee.username }}</td>
			</tr>
			<tr>
				<th>email</th>
				<td>{{ employee.email }}</td>
			</tr>
			<tr>
				<th>firstName</th>
				<td>{{ employee.firstName }}</td>
			</tr>
			<tr>
				<th>lastName</th>
				<td>{{ employee.lastName }}</td>
			</tr>
			<tr>
				<th>jobTitle</th>
				<td>{{ employee.jobTitle }}</td>
			</tr>
			<tr>
				<th>city</th>
				<td>{{ employee.city }}</td>
			</tr>
			<tr>
				<th>phone</th>
				<td>{{ employee.phone }}</td>
			</tr>
		</tbody>
	</table>
</section> -->
