<br>
<br>
<br>
<section>
		<h1>Symbols</h1>
		<mw-filter></mw-filter>
		<button> <i class="fas fa-plus"></i>Add to watch list</button>
		<button> <i class="fas fa-minus"></i> Remove</button>
		<button> <i class="fas fa-save"></i> Save </button>
</section>
<br>


<mw-all-symbols></mw-all-symbols>
<!-- <mw-all-symbols *ngFor="let symbol of symbols"></mw-all-symbols> -->
<mw-symbols-watch-list></mw-symbols-watch-list>
<br>
<br>
<br>
<br>




<!-- <button (click)="login()" class="btn btn-primary" >Login</button>
<br>
<h1>Test</h1>
<li *ngFor="let s of arrSymbols">
	{{s.Symbol}}
</li> -->

<!-- <p *ngIf="arrSymbols.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="arrSymbols.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of arrSymbols">
          <h3>{{ post.Symbol }}</h3>
          <p>{{ post.Description }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p> -->

	  <!-- <li *ngFor="let s of arraySymbols ">
			{{s.id}}
			{{s.symbol}}
		</li> -->

		<!-- <li class="list-group-item" *ngFor="let post of arrSymbols2">
				<h3>{{ post.Symbol }}</h3>
				<p>{{ post.Description }}</p>
			  </li> -->
<!-- <section *ngIf="symbol$ | async as symbol"> -->
	<!-- <a routerLink="..">Back</a> -->
	<!-- <table class="table table-striped">
		<tbody>
			<tr>
				<th>id</th>
				<td>{{ symbol.id }}</td>
			</tr>
			<tr>
				<th>username</th>
				<td>{{ employee.Symbol }}</td>
			</tr>
			<tr>
				<th>email</th>
				<td>{{ employee.email }}</td>
			</tr>
			<tr>
				<th>firstName</th>
				<td>{{ employee.firstName }}</td>
			</tr>
			<tr>
				<th>lastName</th>
				<td>{{ employee.lastName }}</td>
			</tr>
			<tr>
				<th>jobTitle</th>
				<td>{{ employee.jobTitle }}</td>
			</tr>
			<tr>
				<th>city</th>
				<td>{{ employee.city }}</td>
			</tr>
			<tr>
				<th>phone</th>
				<td>{{ employee.phone }}</td>
			</tr>
		</tbody>
	</table> -->
<!-- </section> -->

