<table border="1" cellpadding="0" cellspacing="0" style="width:20%;float:right">
	<thead>
		<tr>
			<th>Watch List</th>
		</tr>
	</thead>
	<tr *ngFor="let symbols of arrayWatchList">
		<td>{{ symbols.symbol }}</td>
	</tr>
</table>

<!-- <h1>WatchList Works</h1> -->
